*{margin: 0;
padding: 0;
font-family: 'Cormorant Garamond', serif;
font-family: 'Red Hat Display', sans-serif;}


/* header */
header{display: flex;
height: 12em;
width: 100%;
justify-content: space-around;
align-items: center;
background-color: rgb(215, 122, 164);

/* position: fixed;
top: 0px;
left: 0px;
right: 0px; */}

header .LH{display: flex;
 align-content: center;}
header .LH .lark{display: flex;
align-items: center;
font-weight: bolder;}

header .LH .img1{height: 12%;
width: 12%;}

header .ul{display: flex;}
.ul a{padding: 0 1em;
text-decoration: none;
color: #000000;
transition: 0.4s;}
   header .ul a:hover{text-decoration: underline;}


header .b1{color: white;
background-color: rgba(0, 0, 255, 0.714);
border-radius: 2em;
padding: 1em 2.5em;
border:none;}
  header .b1:hover{transform:scale(1.1); 
    box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714);}

/* body
body {padding: 12em 0 0 0; }  */

/* seccion 1 */

.dosdiv{display: flex;
justify-content: space-between;
background-color: aquamarine;
padding: 5em 5em;
align-items: center;
height: 95vh;} 


.psunoa{ width: 80%;}

.psunoa .tuno{font-size: 4rem;
color: rgba(0, 0, 0, 0.792);
margin-bottom: 0.5em;}
.loren1{color: grey;
font-weight: bolder;
line-height: 2em;
font-size: 1.1rem;}

.bar{display: flex;
padding: 2em 0em 2em 0em;
align-items: center;}
.bar .Here{border-radius: 6em;
width: 80%;
padding: 2em 0em 2em 2em; 
background-color:rgba(243, 245, 248, 0.905);
position: relative;
border: none;
text-align:justify}
.bar .luppa{position: absolute;
margin-left: 2em;
align-items: center;}
.bar .b2{position: absolute;
    color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 2.5em;
    font-size: 1rem;
    border: none;
    margin-left: 32em;}
    .bar .b2:hover{ transform:scale(1.1); 
        box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }

.tresdiv{display: flex;
}
.tresdiv .medio {padding: 0em 5em 0em 5em;} 

.tresdiv .htres{font-size: 2.5rem;}
.tresdiv .ptres{color: grey;
    font-weight: bolder;}

.imguno{border-radius: 1em;}

/* seccion 2 */
.dossec{display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(129, 227, 111);
    padding: 5em 5em;
    align-items: center;}


.dossec .hyp{display: flex;
justify-content: space-between;
align-items: center;
width: 100%;}
.hyp .titulo{width: 60%;}

.hyp .titulo .FL{font-size: 2.8rem;}

.lorendos{width: 55%;
text-align: justify;
margin-right: 4em;}

.dossec .cuatroimg{display: flex;
justify-content: space-between;
align-items: center;
padding-top: 5em;}

.cuatroimg .divimg{position: relative;
width: 100%;}

.cuatroimg .divimg .bimg{color: white;
font-weight: bolder;
font-size: 1rem;
background-color: rgb(54, 50, 50);
border: none;
padding: 1em 2em;
border-radius: 2em;
position: absolute;
left: 1em;
top: 1em;}

.cuatroimg .divimg .imgssb{border-radius: 0.5em;
width: 95%;}

.cuatroimg .divimg .hssb{font-size: 2.5rem;
padding:0.4em 0 0.4em 0;}
.cuatroimg .divimg .hhssb{color: grey;
padding-left: 1em;}

.point{display: flex;
padding-top: 1em;}

.dossec .ulssb{display: flex;
    width: 100%;
    align-items: center;
    padding-top: 6em;
    justify-content: space-between;}

.b3{border: 0.1em solid rgb(115, 114, 114);
 border-radius: 2em;
 padding: 0.8em 2.5em 0.8em 2.5em;
font-weight: bolder;
color: grey;
font-size: 1.1rem;
background-color: white;}
 .b3:hover{background-color: black;
color: white;}

/* seccion 3 */

.terceras{display: flex;
background-color: rgba(245, 245, 245, 0.971);
padding: 5em 5em;
justify-content: center;}

.terceras .tressec{width: 100%;
justify-content: center;
align-items: center;
margin-left: 4em;}


.tressec .tresimg{border-radius: 1.5em;
width: 90%;}
    
.tressec .pstres{color: grey;
font-weight: bolder;
line-height: 2em;
font-size: 1.1rem;
margin-top: 1.5em;
margin-bottom:1.5em;
width: 85%;
text-align: justify;}

.tressec .htres{font-size: 2.8rem;
margin-top: 1em;}

/* seccion 4 */


.bcua{ color: white;
    background-color: rgba(0, 0, 0, 0.919);
    border-radius: 100%;
    padding: 0.6em 0.9em;
    font-size: 1.8rem;
    border: none;
   font-weight: bolder;}



/* seccion 5 */

.quintass{display: flex;
justify-content: space-around;
background-color: aquamarine;
padding: 5em 5em;
align-items: center;} 

.quintasec{width: 100%;
    justify-content: space-between;
}

.huno{font-size: 3rem;
margin-bottom: 0.6em;}
.hdos{font-size: 2.5rem;
margin-top: 1em;
margin-bottom: 0.6em;
margin-right: 1.5em;}

.loren5{color: grey;
font-weight: bolder;
line-height: 2em;
font-size: 1.1rem;
margin-left: 3.5em;}

.imgss5{border-radius: 1.5em;
width: 90%;
height: 95%;}



/* seccion 6 */
.sexb{display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 3em;
    margin-right: 2em;
padding: 2em 0em 4em 0em;}


.sexbb{padding: 2em 2em 2em 2em;}
.seximg{display: flex;
align-items: center;}
.sexbbb{margin-top: 0.5em;
margin-left: 0.5em;}

.imgsex{width:15% ;
height:15% ; }

.psex{color: grey;
font-size: 1rem;
margin-top: 0.5em;}

/* seccion7 */
.septss{display: flex;
margin-top: 2em;
padding: 4em 4em;
justify-content: space-around;
align-items:start;}


.imgss7{border-radius: 1em;
 width: 90%;}

.septssb{width: 60%; 
margin-left: 2em;}

.b7{ color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 2.5em;
    border: none;
    font-size:1.1rem;
    font-weight: bolder;
    margin-top: 2em;}
    .b7:hover{ transform:scale(1.1); 
        box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }

.sep3img{display: flex;
    justify-content: space-between;
    align-items: center;
padding-top: 2em;}

.tamañoimg7{width: 50em;

}

.imgchica1{width: 90%;
   margin-top: 2em;
border-radius: 1em;
margin-right: 2em;}
.imgchica2{width: 75%;
    margin-top: 2em;
 border-radius: 1em;
 margin-right: 2em;}
 .imgchica3{width: 95%;
    margin-top: 2em;
 border-radius: 1em;
 margin-right: 2em;}


/* footer */
.foot{display: flex;
justify-content: space-around;
align-items: start;
background-color: rgba(245, 245, 245, 0.971);
padding: 6em ;
margin-bottom: 4em;}

.sietep{color: grey;
    font-weight: bolder;
    line-height: 2em;
    font-size: 1.1rem;
text-align:justify;
width: 95%;
margin-top: 0.5em;}  
.ficono{ width: 25%;}

.UL{display: flex;
flex-direction: column;
margin-left: 4em;
margin-right: 6em;}
.pul{margin-bottom: 1em;}
.ula{padding: 0.5em;
text-decoration: none;}

.GT{display: flex;
    flex-direction: column;}
.pgt{color: grey;
width: 60%; 
padding-left: 0.5em;}
.fotic{display: flex;
padding: 0.5em;
margin-top: 1em;}

.NS{display: flex;
    flex-direction: column;}
.nss{ border-radius: 1.5em;
background-color:rgba(245, 245, 245, 0.971) ;
padding: 1em 0em 1em 0em;
margin-top: 1em;
margin-bottom: 1em;
border:0.1em solid grey;}
.bf{ color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 8em;
    border: none;
    font-size: 1rem;}
    .bf:hover{ transform:scale(1.1); 
        box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }



        /* sector media queries */