*{margin: 0;
padding: 0;
font-family: 'Cormorant Garamond', serif;
font-family: 'Red Hat Display', sans-serif;}


/* header */
header{display: flex;
height: 12em;
width: 100%;
justify-content: space-around;
align-items: center;
/* position: fixed;
top: 0px;
left: 0px;
right: 0px; */}

.LH{display: flex;
 align-content: center;}
.LH .lark{display: flex;
align-items: center;
font-weight: bolder;}

.LH .img1{height: 12%;
width: 12%;}

.ul{display: flex;}
.ul a{padding: 0 1em;
text-decoration: none;
color: #000000;
transition: 0.4s;}
   .ul a:hover{text-decoration: underline;}


.b1{color: white;
background-color: rgba(0, 0, 255, 0.714);
border-radius: 2em;
padding: 1em 2.5em;
border:none;}
  header .b1:hover{transform:scale(1.1); 
  box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714);}

/* body
body {padding: 12em 0 0 0; }  

/* seccion 1 */
.dosdiv{display: flex;
 justify-content: space-between;
 padding: 5em 5em;
 align-items: center;
 height: 95vh;} 

.psunoa{ width: 85%;}

.tuno{font-size: 4rem;
 color: rgba(0, 0, 0, 0.792);
 margin-bottom: 0.5em;}

.loren1{color: grey;
 font-weight: bolder;
 line-height: 2em;
 font-size: 1.1rem;}

.bar{display: flex;
 padding: 2em 0em 2em 0em;
 align-items: center;}
.bar .Here{border-radius: 6em;
 width: 80%;
 padding: 2em 0em 2em 2em; 
 background-color:rgba(243, 245, 248, 0.905);
 position: relative;
 border: none;}
.bar .luppa{position: absolute;
 left: 5.5em;
 align-items: center;}
.bar .b2{position: absolute;
    color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 2.5em;
    font-size: 1rem;
    border: none;
    left: 38em;}
    .bar .b2:hover{ transform:scale(1.1); 
     box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }

.tresdiv{display: flex;}
.tresdiv .medio {padding: 0em 5em 0em 5em;} 

.tresdiv .htres{font-size: 2.5rem;}
.tresdiv .ptres{color: grey;
 font-weight: bolder;}

.imguno{border-radius: 1em;}

/* seccion 2 */
.dossec{display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5em 5em;
align-items: center;}

.hyp{display: flex;
justify-content: space-between;
align-items: center;
width: 100%;}
.hyp .titulo{width: 60%;}

.FL{font-size: 2.8rem;}

.lorendos{width: 55%;
text-align: justify;
margin-right: 4em;}

.cuatroimg{display: flex;
justify-content: space-between;
padding-top: 5em;
align-items: center;
width: 100%;}

.divimg{position: relative;
width: 100%;}

.bimg{color: white;
font-weight: bolder;
font-size: 1rem;
background-color: rgb(54, 50, 50);
border: none;
padding: 1em 2em;
border-radius: 2em;
position: absolute;
left: 1em;
top: 1em;}

.divimg .imgssb{border-radius: 0.5em;
width: 95%;}

.hssb{font-size: 2.6rem;
padding:0.4em 0 0.4em 0;}
 .hhssb{color: grey;
padding-left: 1em;}

.point{display: flex;
padding-top: 1em;}

.dossec .ulssb{display: flex;
width: 100%;
align-items: center;
padding-top: 6em;
justify-content: space-between;}

.b3{border: 0.1em solid rgb(115, 114, 114);
border-radius: 2em;
padding: 0.8em 2.5em 0.8em 2.5em;
font-weight: bolder;
color: grey;
font-size: 1.1rem;
background-color: white;}
 .b3:hover{background-color: black;
color: white;}

/* seccion 3 */
.terceras{display: flex;
padding: 5em 5em;
justify-content: center;}

.terceras .tressec{width: 100%;
justify-content: center;
align-items: center;
margin-left: 3em;}

.tressec .pstres{color: grey;
font-weight: bolder;
line-height: 2em;
font-size: 1.1rem;
margin-top: 1.5em;
margin-bottom:1.5em;
width: 85%;
text-align: justify;}

.tressec .tresimg{border-radius: 1.5em;
width: 90%;
padding-bottom: 1em;}
    

/* seccion 4 */
.hyp .titulo4{width: 50%;}  
 
.hyp .lorendos4{width: 45%;
    text-align: justify;}

.cuatroimg .div4{width: 24%;
text-align:left;}

.bcua{ color: white;
 background-color: rgba(0, 0, 0, 0.919);
 border-radius: 100%;
 padding: 0.6em 0.9em;
 font-size: 1.8rem;
 border: none;
 font-weight: bolder;}

/* seccion 5 */
.quintass{display: flex;
justify-content: space-between;
align-items: center;
padding: 5em 5em;} 

.divizq{width: 45%;}
.titulo5 .FL{margin-bottom: 0.5em;}

.items{margin-top: 1em;
 padding-left: 1.2em; 
align-items: center ;}
.items .items3 .loren1{margin-left: 3em;}
.items3{margin-bottom: 2em;}
  .items3:hover{border-radius: 2em;
         box-shadow: 1em 0em 3em rgba(162, 155, 155, 0.723); }

.quintasec{width: 41%;}
.imgss5{border-radius: 1.5em;
    width: 100%;}
         
/* seccion 6 */
.divicono{display: flex;
align-items: center;
margin-top: 1.5em;}

.div6{width: 20%;
    text-align:left;
padding: 1em 1em;}
    .div6:hover{border-radius: 2em;
    box-shadow: 1em 0em 3em rgba(162, 155, 155, 0.723); }

.imgsex{width:60% ;}

.psex{color: grey;
font-size: 1rem;
margin-top: 0.5em;}

/* seccion7 */
.imgss7{border-radius: 1em;
width: 80%;}

.septssb{width: 60%; }

.b7{ color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 2.5em;
    border: none;
    font-size:1.1rem;
    font-weight: bolder;
    margin-top: 2em;}
    .b7:hover{ transform:scale(1.1); 
    box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }

.sep3img{display: flex;
justify-content: space-between;
padding-top: 2em;}

.imgchica1{width: 90%;
border-radius: 1em;}
.imgchica2{width: 75%; 
 border-radius: 1em; }
 .imgchica3{width: 95%;
 border-radius: 1em;}


/* footer */
.foot{display: flex;
justify-content: space-between;
align-items: start;
background-color: rgba(245, 245, 245, 0.971);
padding: 6em ;
margin-bottom: 4em;}


.ficono{ width: 28%;
background-color:aquamarine}
.sietep{color: grey;
font-weight: bolder;
line-height: 2em;
font-size: 1.1rem;
text-align:left;
margin-top: 0.5em;}  

    
.UL{display: flex;
flex-direction: column;
background-color: blueviolet;
}
.pul{margin-bottom: 1em;}
.ula{padding: 0.5em;
text-decoration: none;
color: #000000;
transition: 0.4s;}
    .ula:hover{text-decoration: underline;}


.GT{display: flex;
    flex-direction: column;
background-color: aqua;
padding-left: 4em;

}
.fotic{display: flex;
    padding: 0.5em;
    margin-top: 0.5em;}
.pgt{color: grey;
width: 60%; }


.NS{display: flex;
 flex-direction: column;
background-color:chocolate ;}
.nss{ border-radius: 1.5em;
background-color:rgba(245, 245, 245, 0.971) ;
padding: 1em 0em 1em 0em;
margin-top: 1em;
margin-bottom: 1em;
border:0.1em solid grey;}
.bf{ color: white;
    background-color: rgba(0, 0, 255, 0.714);
    border-radius: 2em;
    padding: 1em 8em;
    border: none;
    font-size: 1rem;}
    .bf:hover{ transform:scale(1.1); 
    box-shadow: 0em 0em 0.5em rgba(0, 0, 255, 0.714); }



    /* sector media queries */